<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Overnight Sleep
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p>Today is: {{this.date.toLocaleDateString('en-US', {
    weekday: 'long',
    month: 'long',
    day: 'numeric'
  })}}</p>

  <p>It is currently: {{this.date.toLocaleTimeString()}}</p>
  <div>
    <ion-button color="success" shape="round">Start</ion-button>
    <ion-button color="danger" shape="round">Stop</ion-button>
  </div>
</ion-content>
