<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Sleep Log </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- STANFORD SLEEP -->

  <div class="flex justify-center grid grid-flow-row auto-rows-max">
    <p class="text-center text-xl py-6 md:text-3xl">
      Stanford Sleepiness Entries:
    </p>
    <table
      class="border-separate border border-slate-400 table-auto max-w-2xl"
      *ngIf="allSleepinessData"
    >
      <thead>
        <tr>
          <!--        <th class="px-24 py-10 content-center border border-slate-300" scope="col">ID</th>-->
          <th class="border border-slate-300 py-2" scope="col">Logged At</th>
          <th class="border border-slate-300 py-2" scope="col">Sleepiness</th>
          <th class="border border-slate-300 py-2" scope="col">Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let s of allSleepinessData"
          class="transition ease-in-out delay-50 duration-200 hover:bg-amber-50 hover:text-black hover:scale-105"
        >
          <!--        <td class="border border-slate-300">{{s.id}}</td>-->
          <td
            class="border border-slate-300 text-center break-words p-2 md:px-14 lg:px-22"
          >
            {{s.dateString()}}
          </td>
          <td
            class="border border-slate-300 text-center break-words p-2 md:px-22 lg:px-22"
          >
            {{s.summaryString()}}
          </td>
          <td
            class="border border-slate-300 text-center break-words p-2 md:px-22 lg:px-22"
          >
            {{s.getNotes()}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- OVERNIGHT -->

  <div class="flex justify-center grid grid-flow-row auto-rows-max">
    <p class="text-center pt-10 pb-6 text-xl md:text-3xl">
      Overnight Sleep Entries:
    </p>
    <table
      class="border-separate border border-slate-400 table-auto max-w-2xl"
      *ngIf="allOvernightData"
    >
      <thead>
        <tr>
          <!--        <th class="px-24 py-10 content-center border border-slate-300" scope="col">ID</th>-->
          <th class="border border-slate-300 py-2" scope="col">Logged At</th>
          <th class="border border-slate-300 py-2" scope="col">Sleep Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let s of allOvernightData" class="transition ease-in-out delay-50 duration-200 hover:bg-amber-50 hover:text-black hover:scale-105">
          <!--        <td class="border border-slate-300">{{s.id}}</td>-->
          <td
            class="border border-slate-300 text-center break-words p-2 md:px-14 lg:px-22"
          >
            {{s.dateString()}}
          </td>
          <td
            class="border border-slate-300 text-center break-words p-2 md:px-14 lg:px-22"
          >
            {{s.summaryString()}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ion-content>
