<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Stanford Sleepiness Scale
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="grid grid-col-7">
    <ion-icon name="thumbs-down-outline"></ion-icon>
    <ion-icon name="thumbs-up-outline"></ion-icon>
  </div>
  <ion-radio-group value="1">
    <ion-radio value="1"></ion-radio>
    <ion-radio value="2"></ion-radio>
    <ion-radio value="3"></ion-radio>
    <ion-radio value="4"></ion-radio>
    <ion-radio value="5"></ion-radio>
    <ion-radio value="6"></ion-radio>
    <ion-radio value="7"></ion-radio>
  </ion-radio-group>
</ion-content>
