<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Stanford Sleepiness Scale</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="grid grid-cols-1 gap-4 place-content-center w-full h-full">
    <div class="text-center pb-10">
      <span class="text-4xl animate-pulse">
        {{time}}
      </span>
    </div>
    <div class="text-center">How would you rate your current sleepiness?</div>
    <div class="space-x-2.5 flex justify-center">
      <ion-icon
        class="text-2xl self-center"
        name="thumbs-down-outline"
      ></ion-icon>
      <span class="text-4xl">2</span>
      <span class="text-4xl">3</span>
      <span class="text-4xl">4</span>
      <span class="text-4xl">5</span>
      <span class="text-4xl">6</span>
      <ion-icon
        class="text-2xl self-center"
        name="thumbs-up-outline"
      ></ion-icon>
    </div>
    <ion-radio-group class="flex justify-center" (ionChange)="onSelectionChange()" [(ngModel)]="scaleValue" value="{{scaleValue}}">
      <ion-radio value="1"></ion-radio>
      <ion-radio value="2"></ion-radio>
      <ion-radio value="3"></ion-radio>
      <ion-radio value="4"></ion-radio>
      <ion-radio value="5"></ion-radio>
      <ion-radio value="6"></ion-radio>
      <ion-radio value="7"></ion-radio>
    </ion-radio-group>
    <div class="text-center pt-12">
      Notes:
      <ion-textarea
        placeholder="I'm feeling a crash after that coffee..."
        [autoGrow]="true"
        value="{{notes}}"
        [(ngModel)]="notes"
      >
      </ion-textarea>
    </div>
    <div class="text-center">
      <ion-button (click)="saveStanfordSleepData(); onTap()" shape="round">Save</ion-button>
    </div>
  </div>
</ion-content>
