<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="overnight-sleep">
      <ion-icon aria-hidden="true" name="play-circle"></ion-icon>
      <ion-label>Overnight Sleep</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sleepiness">
      <ion-icon aria-hidden="true" name="radio"></ion-icon>
      <ion-label>Sleepiness</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="sleep-log">
      <ion-icon aria-hidden="true" name="library"></ion-icon>
      <ion-label>Sleep Log</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
